.stream-layout {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-image: url('https://cdna.artstation.com/p/assets/images/images/036/337/284/large/anthony-eliott-cam-02.jpg?1617379929');
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.stream-layout a {
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0;
  left: 0;
}

.stream-layout .led-display {
  background-color: rgba(0, 0, 0, 0.6);
  outline: 2px black solid;
  width: 250px;
  height: 100px;
}

.stream-layout marquee {
  height: 100%;
  font-size: 50px;
  line-height: 100%;
}
