:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: white;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body,
#app {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

.stream-layout {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-image: url('https://cdna.artstation.com/p/assets/images/images/036/337/284/large/anthony-eliott-cam-02.jpg?1617379929');
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  & a {
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 0;
    left: 0;
  }
  & .led-display {
    background-color: rgba(0, 0, 0, 0.6);
    outline: 2px black solid;
    width: 250px;
    height: 100px;
    & marquee {
      height: 100%;
      font-size: 50px;
      line-height: 100%;
    }
  }
}

.injector {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  & .controls {
    display: flex;
    & textarea {
      flex-grow: 1;
      height: 100px;
      padding: 10px;
      resize: none;
    }
  }
  #iframe {
    flex-grow: 1;
    width: 100%;
    height: 100%;
    border: none;
  }
}
